body {
    height: 100vh;
    overflow: hidden;
}

.dialog-footer {
    padding-top: 20px;
    text-align: center;
}

.el-checkbox-group {
    font-size: inherit !important;
}

.el-loading-spinner {
    top: 20% !important;
}

.CJ-tenpixel__top {
    margin-top: 10px;
}